<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/3ac659e2f1.js" crossorigin="anonymous"></script>
  <title>Administrador</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/admin-main-page.css" />
</head>

<body>
  <header>
    <nav>
      <a href="" class="logo"><img src="img/logo_nb2_v2.png" alt="Logo"></a>
      <a href="admin_main_page.html" class="bttn">Lista usuarios</a>
      <a href="" class="btton">Usuarios baneados</a>
      <a class="sesion_btn">Cerrar sesión<i class="fa-solid fa-circle-user sesion_icon"></i></a>
    </nav>
  </header>

  <main>

    <div class="search_container">
      <input type="text" name="search" id="search" class="search_bar" placeholder="Buscar usuario">
    </div>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <% for (let i = 0; i < usernames.length; i += 5) { %>
        <div class="swiper-slide">
          <% for (let j = i; j < Math.min(i + 5, usernames.length); j++) { %>
          <article class="user_article">
            <i class="fa-solid fa-circle-user user_icon"></i>
            <p class="user_apodo"><%= usernames[j] %></p>
          </article>
          <% } %>
        </div>
        <% } %>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/js/buscarUsername.js"></script>
  <script src="/js/swiper.js"></script>
  <script src="/js/user_review.js"></script>
</body>

</html>