body{
    background-image: url(/Register/background.jpg);
    padding: 10px 2%;
}

main{
    background-color: rgba(9, 32, 43, 0.74);
    padding: 1px 2%;
}

h1{
    color: white;
    font-size: 450%;
}

.container{
    display: flex;
    width: 100%;
    align-items: center;
}

form{
    display: flex;
    margin-right: 0%;
    width: 50%;
    margin-right: 10%;
}


.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

p{
    color: #C3C3C3;
    margin: 0px;
}

label{
    color: white;
    font-size: x-large;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.file_input_container{
    display: flex;
}

.file_input{
    box-shadow: none;
    margin-left: 5px;
}

img{
    width: 350px;
    height: auto;
}


@media(max-width: 500px){
    main{
        padding: 5%;
        font-size: 80%;
    }
    h1{
        margin-top: 250px;
        text-align: center;
    }
    form{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 15px;
    }
    .col{
        margin-bottom: 10px;
    }
    img{
        position:absolute;
        top: 0px;
    }
}
